.middle{
    margin-top: 20px;
    margin-left: 45%;
}

.listmiddle{
    margin-left: 36%;
    margin-right: 36%;
}

body{
    background-image: url("https://www.warrenphotographic.co.uk/photography/bigs/43602-Play-bowing-dogs-and-kitten-white-background.jpg");
}